<h1>Users</h1>
<span>WELCOME! Your dragon name is: </span>
<%= @user.name.upcase %>

<%= link_to 'My cards', cards_index_path%>
<%= link_to 'New card', cards_new_path%>

<br>
<%= link_to 'View All Users', users_index_path%>